# Historical Stock Prices

In [1]:
# Import libraries
import yfinance as yf
from yahoofinancials import YahooFinancials
import pandas as pd

In [2]:
# Input one or several stock tickers to obtain historical stock prices
ticker = "SPY" 
start= "2015-03-18" 
end= "2021-03-21"

#multi_stock_history = yf.download(ticker, start=start, end=end, progress=False)
#multi_stock_history.isnull().sum(axis=1)

stock_history = yf.download(ticker, start=start, end=end, progress=False)
stock_history.isnull().sum(axis=1)

Date
2015-03-18    0
2015-03-19    0
2015-03-20    0
2015-03-23    0
2015-03-24    0
             ..
2021-03-15    0
2021-03-16    0
2021-03-17    0
2021-03-18    0
2021-03-19    0
Length: 1513, dtype: int64

In [3]:
# Dataframe of historical stock prices

#multi_stock_history.tail()
stock_history["Ticker"] = ticker
stock_history.tail()

,Open,High,Low,Close,Adj Close,Volume,Ticker
Date,,,,,,,
2021-03-15,394.329987,396.690002,392.029999,396.410004,395.115906,73427200,SPY
2021-03-16,397.070007,397.829987,395.079987,395.910004,394.617523,72958000,SPY
2021-03-17,394.529999,398.119995,393.299988,397.260010,395.963135,91822000,SPY
2021-03-18,394.480011,396.720001,390.750000,391.480011,390.201996,115112500,SPY
2021-03-19,389.880005,391.570007,387.149994,389.480011,389.480011,112777800,SPY

In [6]:
# Read in Adj Close prices
stock_history_close = stock_history[["Adj Close"]]
stock_history

,Open,High,Low,Close,Adj Close,Volume,Ticker
Date,,,,,,,
2015-03-18,207.389999,211.270004,206.619995,210.460007,186.609985,228808500,SPY
2015-03-19,209.960007,210.470001,209.029999,209.500000,185.758835,117917300,SPY
2015-03-20,209.710007,211.020004,209.490005,210.410004,187.398468,177715100,SPY
2015-03-23,210.419998,211.110001,210.000000,210.000000,187.033279,71784500,SPY
2015-03-24,209.850006,210.399994,208.740005,208.820007,185.982346,77805300,SPY
...,...,...,...,...,...,...,...
2021-03-15,394.329987,396.690002,392.029999,396.410004,395.115906,73427200,SPY
2021-03-16,397.070007,397.829987,395.079987,395.910004,394.617523,72958000,SPY
2021-03-17,394.529999,398.119995,393.299988,397.260010,395.963135,91822000,SPY
2021-03-18,394.480011,396.720001,390.750000,391.480011,390.201996,115112500,SPY
2021-03-19,389.880005,391.570007,387.149994,389.480011,389.480011,112777800,SPY

In [5]:
# Print csv files for either single or multi stock prices

#multi_stock_history_close.to_csv('../Resources/multi_stock_prices.csv')

#stock_history_close.to_csv('../Resources/stock_historical_prices.csv')