# Historical Stock Prices

In [1]:
# Import libraries
import yfinance as yf
from yahoofinancials import YahooFinancials
import pandas as pd

In [3]:
# Input one or several stock tickers to obtain historical stock prices
ticker = "POTX" 
start= "2015-03-15" 
end= "2021-04-23"

#multi_stock_history = yf.download(ticker, start=start, end=end, progress=False)
#multi_stock_history.isnull().sum(axis=1)

stock_history = yf.download(ticker, start=start, end=end, progress=False)
stock_history.isnull().sum(axis=1)

Date
2019-09-27    0
2019-09-30    0
2019-10-01    0
2019-10-02    0
2019-10-03    0
             ..
2021-04-16    0
2021-04-19    0
2021-04-20    0
2021-04-21    0
2021-04-22    0
Length: 395, dtype: int64

In [4]:
# Dataframe of historical stock prices

#multi_stock_history.tail()
stock_history["Ticker"] = ticker
stock_history.tail()

             Open   High     Low  Close  Adj Close  Volume Ticker
Date
2021-04-16  14.00  14.10  13.595  14.05      14.05  313300   POTX
2021-04-19  14.05  14.51  13.809  14.21      14.21  314100   POTX
2021-04-20  14.40  14.41  13.290  13.43      13.43  426700   POTX
2021-04-21  13.25  13.99  13.180  13.90      13.90  235300   POTX
2021-04-22  13.95  14.15  13.700  13.95      13.95  208500   POTX

In [5]:
# Read in Adj Close prices
stock_history_close = stock_history[["Adj Close"]]
stock_history

,Open,High,Low,Close,Adj Close,Volume,Ticker
Date,,,,,,,
2019-09-27,22.570000,22.610001,21.850000,21.974001,20.549049,6100,POTX
2019-09-30,21.830000,21.830000,20.850000,20.929001,19.571814,5000,POTX
2019-10-01,20.790001,20.790001,19.959999,20.000000,18.703056,7600,POTX
2019-10-02,20.160000,20.490000,19.139999,20.145000,18.838654,5800,POTX
2019-10-03,20.070000,20.903000,20.070000,20.903000,19.547499,400,POTX
...,...,...,...,...,...,...,...
2021-04-16,14.000000,14.100000,13.595000,14.050000,14.050000,313300,POTX
2021-04-19,14.050000,14.510000,13.809000,14.210000,14.210000,314100,POTX
2021-04-20,14.400000,14.410000,13.290000,13.430000,13.430000,426700,POTX
2021-04-21,13.250000,13.990000,13.180000,13.900000,13.900000,235300,POTX
2021-04-22,13.950000,14.150000,13.700000,13.950000,13.950000,208500,POTX

In [6]:
# Print csv files for either single or multi stock prices

#multi_stock_history_close.to_csv('../Resources/multi_stock_prices.csv')

stock_history_close.to_csv('../Resources/VIX_stock_historical_prices.csv')