# Historical Stock Prices

In [1]:
# Import libraries
import yfinance as yf
from yahoofinancials import YahooFinancials
import pandas as pd

In [2]:
# Input one or several stock tickers to obtain historical stock prices
ticker = "BRK-B, ARKK, AGG, ETH-USD" 
start= "2015-08-07" 
end= "2021-07-20"

multi_stock_history = yf.download(ticker, start=start, end=end, progress=False)
multi_stock_history.isnull().sum(axis=1)

#stock_history = yf.download(ticker, start=start, end=end, progress=False)
#stock_history.isnull().sum(axis=1)

Date
2015-08-07     0
2015-08-08    18
2015-08-09    18
2015-08-10     0
2015-08-11     0
              ..
2021-07-16     0
2021-07-17    18
2021-07-18    18
2021-07-19     0
2021-07-20    18
Freq: D, Length: 2175, dtype: int64

In [3]:
# Dataframe of historical stock prices

multi_stock_history.tail()

#stock_history["Ticker"] = ticker
#stock_history.tail()

             Adj Close                                            Close  \
                   AGG        ARKK       BRK-B      ETH-USD         AGG
Date
2021-07-16  115.900002  116.529999  277.899994  1880.382935  115.900002
2021-07-17         NaN         NaN         NaN  1898.825195         NaN
2021-07-18         NaN         NaN         NaN  1895.552124         NaN
2021-07-19  116.510002  117.279999  272.660004  1817.296631  116.510002
2021-07-20         NaN         NaN         NaN  1787.510742         NaN

                                                       High              ...  \
                  ARKK       BRK-B      ETH-USD         AGG        ARKK  ...
Date                                                                     ...
2021-07-16  116.529999  277.899994  1880.382935  115.959999  117.940002  ...
2021-07-17         NaN         NaN  1898.825195         NaN         NaN  ...
2021-07-18         NaN         NaN  1895.552124         NaN         NaN  ...
2021-07-19  117.279999  272.660004  1817.296631  116.610001  117.580002  ...
2021-07-20         NaN         NaN  1787.510742         NaN         NaN  ...

                   Low                     Open                          \
                 BRK-B      ETH-USD         AGG        ARKK       BRK-B
Date
2021-07-16  277.220001  1853.590332  115.769997  117.809998  280.929993
2021-07-17         NaN  1855.590820         NaN         NaN         NaN
2021-07-18         NaN  1883.012573         NaN         NaN         NaN
2021-07-19  270.730011  1807.909912  116.389999  113.919998  274.209991
2021-07-20         NaN  1722.050781         NaN         NaN         NaN

                            Volume
                ETH-USD        AGG        ARKK      BRK-B       ETH-USD
Date
2021-07-16  1916.598389  3869500.0   7639900.0  3436100.0  1.488457e+10
2021-07-17  1876.881348        NaN         NaN        NaN  1.336428e+10
2021-07-18  1900.194336        NaN         NaN        NaN  1.379187e+10
2021-07-19  1893.053589  6688100.0  11861800.0  5231900.0  1.415774e+10
2021-07-20  1819.082031        NaN         NaN        NaN  1.736860e+10

[5 rows x 24 columns]

In [4]:
# Read in Adj Close prices
multi_stock_history_close = multi_stock_history["Adj Close"].ffill()
multi_stock_history_close

                   AGG        ARKK       BRK-B      ETH-USD
Date
2015-08-07   94.382362   19.062222  143.550003     2.772120
2015-08-08   94.382362   19.062222  143.550003     0.753325
2015-08-09   94.382362   19.062222  143.550003     0.701897
2015-08-10   94.261360   19.523710  143.419998     0.708448
2015-08-11   94.572502   19.264982  142.800003     1.067860
...                ...         ...         ...          ...
2021-07-16  115.900002  116.529999  277.899994  1880.382935
2021-07-17  115.900002  116.529999  277.899994  1898.825195
2021-07-18  115.900002  116.529999  277.899994  1895.552124
2021-07-19  116.510002  117.279999  272.660004  1817.296631
2021-07-20  116.510002  117.279999  272.660004  1787.510742

[2175 rows x 4 columns]

In [5]:
# Print csv files for either single or multi stock prices

multi_stock_history_close.to_csv('../Resources/multi_stock_prices.csv')

#stock_history_close.to_csv('../Resources/stock_historical_prices.csv')