In [1]:
# Import libraries
import yfinance as yf
from yahoofinancials import YahooFinancials
import pandas as pd

In [2]:
# Input one or several stock tickers to obtain historical stock prices

#multi_stock_history = yf.download("SPY LQD VNQ KOIN", start="2018-02-01", end="2021-03-21", progress=False)

stock_history = yf.download("SPY", start="2015-03-18", end="2021-03-21", progress=False)

stock_history.isnull().sum(axis=1)

Date
2015-03-18    0
2015-03-19    0
2015-03-20    0
2015-03-23    0
2015-03-24    0
             ..
2021-03-15    0
2021-03-16    0
2021-03-17    0
2021-03-18    0
2021-03-19    0
Length: 1513, dtype: int64

In [3]:
# Dataframe of historical stock prices
stock_history.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-03-15,394.329987,396.690002,392.029999,396.410004,395.115906,73427200
2021-03-16,397.070007,397.829987,395.079987,395.910004,394.617523,72958000
2021-03-17,394.529999,398.119995,393.299988,397.260010,395.963135,91822000
2021-03-18,394.480011,396.720001,390.750000,391.480011,390.201996,115112500
2021-03-19,389.880005,391.570007,387.149994,389.480011,389.480011,112777800

In [4]:
# Read in Adj Close prices
stock_history_close = stock_history['Adj Close']
stock_history_close.tail()

Date
2021-03-15    395.115906
2021-03-16    394.617523
2021-03-17    395.963135
2021-03-18    390.201996
2021-03-19    389.480011
Name: Adj Close, dtype: float64

In [5]:
# Print csv files for either single or multi stock prices

#multi_stock_history_close.to_csv('resources/multi_stock_prices.csv')

In [7]:
stock_history_close.to_csv('../Resources/stock_historical_prices.csv')