# Historical Stock Prices

In [2]:
# Import libraries
import yfinance as yf
from yahoofinancials import YahooFinancials
import pandas as pd

In [3]:
# Input one or several stock tickers to obtain historical stock prices
ticker = "VIX" 
start= "2015-03-18" 
end= "2021-03-21"

#multi_stock_history = yf.download(ticker, start=start, end=end, progress=False)
#multi_stock_history.isnull().sum(axis=1)

stock_history = yf.download(ticker, start=start, end=end, progress=False)
stock_history.isnull().sum(axis=1)

Date
2015-03-18    0
2015-03-19    0
2015-03-20    0
2015-03-23    0
2015-03-24    0
             ..
2018-01-22    0
2018-01-23    0
2018-01-26    0
2018-01-30    0
2018-01-31    0
Length: 718, dtype: int64

In [4]:
# Dataframe of historical stock prices

#multi_stock_history.tail()
stock_history["Ticker"] = ticker
stock_history.tail()

              Open     High     Low   Close  Adj Close  Volume Ticker
Date
2018-01-22  9900.0  10000.0  9600.0  9800.0     9800.0  257523    VIX
2018-01-23  9900.0   9900.0  9700.0  9900.0     9900.0  184915    VIX
2018-01-26  9300.0   9500.0  8400.0  9300.0     9300.0  277990    VIX
2018-01-30  9700.0   9700.0  9300.0  9300.0     9300.0  311049    VIX
2018-01-31  9400.0   9400.0  9100.0  9300.0     9300.0   82483    VIX

In [5]:
# Read in Adj Close prices
stock_history_close = stock_history[["Adj Close"]]
stock_history

,Open,High,Low,Close,Adj Close,Volume,Ticker
Date,,,,,,,
2015-03-18,12863.299805,13028.200195,12698.400391,12863.299805,12863.299805,916233,VIX
2015-03-19,12698.400391,13110.700195,12698.400391,12698.400391,12698.400391,1280688,VIX
2015-03-20,12451.000000,12780.900391,12368.599609,12698.400391,12698.400391,670772,VIX
2015-03-23,12616.000000,13028.200195,12451.000000,12616.000000,12616.000000,910411,VIX
2015-03-24,12616.000000,12616.000000,12616.000000,12616.000000,12616.000000,0,VIX
...,...,...,...,...,...,...,...
2018-01-22,9900.000000,10000.000000,9600.000000,9800.000000,9800.000000,257523,VIX
2018-01-23,9900.000000,9900.000000,9700.000000,9900.000000,9900.000000,184915,VIX
2018-01-26,9300.000000,9500.000000,8400.000000,9300.000000,9300.000000,277990,VIX
2018-01-30,9700.000000,9700.000000,9300.000000,9300.000000,9300.000000,311049,VIX
2018-01-31,9400.000000,9400.000000,9100.000000,9300.000000,9300.000000,82483,VIX

In [6]:
# Print csv files for either single or multi stock prices

#multi_stock_history_close.to_csv('../Resources/multi_stock_prices.csv')

stock_history_close.to_csv('../Resources/VIX_stock_historical_prices.csv')