In [1]:
import requests
import os
import numpy as np
import pandas as pd
import datetime as dt

import alpaca_trade_api as tradeapi
from dotenv import load_dotenv
load_dotenv()


%matplotlib inline

In [2]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2"
)

In [3]:
# Change the stock ticker symbol for the stock you wish to analyze; Also, change the start and end date to obtain data for the specified time period

ticker = "TSLA"
timeframe = "1D"
start_date = pd.Timestamp("2021-01-01",tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-03-19",tz="America/New_York").isoformat()

df_ticker = alpaca.get_barset(
    ticker,
    timeframe,
    start=start_date,
    end=end_date
).df

# Drop ticker multi-index level from the Alpaca API output

df_ticker.columns = df_ticker.columns.droplevel(0)

# Reset index

df_ticker.reset_index(inplace=True)

# Drop timestamp drom date; Comment this line out if timestamp is needed

df_ticker['time'] = df_ticker['time'].dt.date

# Change column name "time" to "date"

df_ticker = df_ticker.rename(columns={'time':'date'})

# Print csv file

df_ticker.to_csv('Resources/stock_data.csv')

df_ticker.head()

         date    open      high       low    close    volume
0  2021-01-04  719.46  744.4899  717.1895  729.750  45293360
1  2021-01-05  723.66  740.8400  719.2000  735.055  28402584
2  2021-01-06  758.49  774.0000  749.1000  756.460  41989335
3  2021-01-07  777.63  816.9900  775.2000  816.240  48080256
4  2021-01-08  856.00  884.4900  838.3900  880.030  71814487