In [8]:
import yfinance as yf
from yahoofinancials import YahooFinancials
import pandas as pd

In [9]:
#multi_stock_history = yf.download("SPY LQD VNQ KOIN", start="2018-02-01", end="2021-03-18", progress=False)

stock_history = yf.download("TSLA", start="2018-03-18", end="2021-03-21", progress=False)

stock_history.isnull().sum(axis=1)

Date
2018-03-19    0
2018-03-20    0
2018-03-21    0
2018-03-22    0
2018-03-23    0
             ..
2021-03-15    0
2021-03-16    0
2021-03-17    0
2021-03-18    0
2021-03-19    0
Length: 757, dtype: int64

In [10]:
stock_history.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-03-15,694.090027,713.179993,684.039978,707.940002,707.940002,29335600
2021-03-16,703.349976,707.919983,671.000000,676.880005,676.880005,31903400
2021-03-17,656.869995,703.729980,651.010010,701.809998,701.809998,40083300
2021-03-18,684.289978,689.229980,652.000000,653.159973,653.159973,33224800
2021-03-19,646.599976,657.229980,624.619995,654.869995,654.869995,42827400

In [11]:
stock_history_close = stock_history['Adj Close']
stock_history_close.tail()

Date
2021-03-15    707.940002
2021-03-16    676.880005
2021-03-17    701.809998
2021-03-18    653.159973
2021-03-19    654.869995
Name: Adj Close, dtype: float64

In [12]:
#multi_stock_history_close.to_csv('Resources/multi_stock_prices.csv')

In [13]:
stock_history_close.to_csv('Resources/stock_historical_prices.csv')