In [1]:
import yfinance as yf
from yahoofinancials import YahooFinancials
import pandas as pd

In [2]:
stock_history = yf.download("SPY LQD VNQ KOIN", start="2018-02-01", end="2021-03-18", progress=False)
stock_history.isnull().sum(axis=1)

Date
2018-02-01    0
2018-02-02    0
2018-02-05    0
2018-02-06    0
2018-02-07    0
             ..
2021-03-11    0
2021-03-12    0
2021-03-15    0
2021-03-16    0
2021-03-17    0
Length: 786, dtype: int64

In [3]:
stock_history.head()

            Adj Close                                         Close  \
                 KOIN         LQD         SPY        VNQ       KOIN
Date
2018-02-01  23.844912  107.964195  265.354980  68.855530  24.680000
2018-02-02  23.313520  107.411797  259.578278  68.270973  24.129999
2018-02-05  22.559914  107.475174  248.722015  66.242676  23.350000
2018-02-06  23.004349  107.257828  253.622482  66.251549  23.809999
2018-02-07  22.849764  106.958984  252.246567  65.968117  23.650000

                                                    High              ...  \
                   LQD         SPY        VNQ       KOIN         LQD  ...
Date                                                                  ...
2018-02-01  119.220001  281.579987  77.739998  24.959999  119.959999  ...
2018-02-02  118.610001  275.450012  77.080002  24.670000  119.000000  ...
2018-02-05  118.680000  263.929993  74.790001  24.200001  119.330002  ...
2018-02-06  118.440002  269.130005  74.800003  23.809999  118.820000  ...
2018-02-07  118.110001  267.670013  74.480003  23.987000  118.849998  ...

                   Low                  Open                          \
                   SPY        VNQ       KOIN         LQD         SPY
Date
2018-02-01  280.679993  77.599998  24.870001  119.910004  281.070007
2018-02-02  275.410004  76.440002  24.670000  119.000000  280.079987
2018-02-05  263.309998  74.690002  24.020000  118.239998  273.450012
2018-02-06  258.700012  73.089996  22.969999  118.589996  259.940002
2018-02-07  267.579987  74.430000  23.940001  118.800003  268.500000

                      Volume
                  VNQ   KOIN       LQD        SPY       VNQ
Date
2018-02-01  79.089996  24900  12272400   90102500   7313200
2018-02-02  77.160004  17100   8681500  173174800  11151800
2018-02-05  76.699997  23500  14486000  294681800   8861900
2018-02-06  73.550003   6900  10467500  355026800  12554100
2018-02-07  74.779999  19500   8862300  167376100   7480000

[5 rows x 24 columns]

In [4]:
stock_history_close = stock_history['Adj Close']
stock_history_close.head()

                 KOIN         LQD         SPY        VNQ
Date
2018-02-01  23.844912  107.964195  265.354980  68.855530
2018-02-02  23.313520  107.411797  259.578278  68.270973
2018-02-05  22.559914  107.475174  248.722015  66.242676
2018-02-06  23.004349  107.257828  253.622482  66.251549
2018-02-07  22.849764  106.958984  252.246567  65.968117

In [5]:
stock_history_close.to_csv('Resources/multi_stock_prices.csv')